@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Logo {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.Logo span {
  padding: 2px;
  font-family: 'Bebas Neue', cursive;
  font-weight: 100;
  background-color: red;
  font-size: 2.5rem;
  color: #fff;
}
